netns-bin/netns_new
netns-bin/netns_run

/netlab/cfg/*.conf

/netlab/*.pid
/netlab/m*

netlab/bird6/bird*
netlab/bird4/bird*

netlab-int/cf-ospf/__pycache__
netlab-int/tests/__pycache__

netlab-int/.NOTES.md

netlab/common/bird
netlab/common/birdc

# Virtual enviroments
env/
.env
netlab/runtest_local 
